spring:
  name: wl4

  datasource:
    url: jdbc:postgresql://localhost:5432/studs
    username: area_check_db
    password: pass
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  
  security:
    user:
      name:
      password:

# JWT
jwt:
  secret: your-secret-key-change-in-production-minimum-32-chars
  expiration: 86400000 # 24 часа в миллисекундах

server:
  port: 8080

logging:
  level:
    org.springframework.security: DEBUG
    org.weblabs.wl4: DEBUG